Repository newrelic/newrelic-telemetry-sdk-node, pull requests merged in 2020-10, with the labels that each got.

#40 Adds Node 14 to CI.
  .github/workflows/ci-workflow.yml
  .github/workflows/server-integration-workflow.yml
Labels: risk: low, semver: minor

#41 Bumps dev lodash sub-deps to clear up audit warnings.
  package-lock.json
Labels: risk: low, semver: patch

#42 Remove Node v8.x from CI
  .github/workflows/ci-workflow.yml
  .github/workflows/server-integration-workflow.yml
Labels: risk: low, semver: major
